name: Reusable CD Workflow

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string
      release_name:
        required: true
        type: string
      chart_path:
        required: true
        type: string
    secrets:
      KUBECONFIG_DATA:
        required: true

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup kubectl
      uses: azure/setup-kubectl@v3

    - name: Setup Helm
      uses: azure/setup-helm@v4

    - name: Configure kubeconfig
      run: |
        echo "${{ secrets.KUBECONFIG_DATA }}" | base64 -d > kubeconfig
        echo "KUBECONFIG=$PWD/kubeconfig" >> $GITHUB_ENV

    - name: Verify Cluster
      run: kubectl get nodes

    - name: Deploy using Helm
      run: |
        helm upgrade --install ${{ inputs.release_name }} ${{ inputs.chart_path }} \
          --namespace dev \
          --create-namespace \
          --set image.tag=${{ inputs.image_tag }}
